@model Critical_Flow.Models.Message;

@{
    <style>
        .text-danger{
            color:red;
        }
        .wrapper{
                
        }
        .container{
                
        }
        .field{
            width: 100%;
        }        
    </style>
}

<div class="wrapper">
    <h2 style="padding:10px;">Send a formal message to us</h2>
    <div class="container">
        <form asp-controller="Secured" asp-action="SendEmail">
            <label asp-for="MailTo">To</label><br />
            <input asp-for="MailTo" class="field" /><br /> 
            <label asp-for="Subject">Subject</label><br />
            <input asp-for="Subject" class="field" /><br />
            <span asp-validation-for="Subject" class="text-danger"></span><br /><br />
            <label asp-for="MessageBody">Message</label><br />
            <textarea asp-for="MessageBody" rows="10" class="field"></textarea><br /><br />
            <button type="submit" class="btn btn-primary">Send</button>
        </form>
    </div>
</div>